@import "vars";
@import "libs";
@import "fonts";

body{
	font-size: 15px;
	//font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 24px;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
}
a{
	text-decoration: none;
	display: inline-block;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		margin: 0;
		padding: 0;
	}
}
.header-top{
    background-color: #f7f7f7;
	min-height: 50px;
}
.header-top_content{
	display: flex;
	justify-content: space-between;
}
.logo{
    height: 50px;
}	
.header-right{
    background-color: #eeeeee;
	display: flex;
}
.register-btn{
	color: #555555;
	font-size: 14px;
	line-height: 50px;
	min-width: 72px;
	padding-left: 25px;
	margin-right: 25px;
	
}

.login-btn{
	color: #555555;
	font-size: 14px;
	line-height: 50px;
	min-width: 72px;
	
}

.cart{
	margin-right: 25px;
	line-height: 50px;
	span{
		color: #000;
	}
}

.header-bottom{
	background-color: #000000;
	padding: 18px 0;
	display: flex;
	justify-content: space-between;
}
.menu{
	li{
		display: inline-block;
		& + li{
			padding-left: 35px;
		}
	}
	a{
		color: #fff;
		font-size: 14px;
		line-height: 30px;
        font-weight: 500;
        text-transform: uppercase;
	}
}
.main {
	background-image: url(../img/bannerBG.png);
}




@import "media";
