@import "vars";
@import "libs";
@import "fonts";

body{
	font-size: 15px;
	//font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 24px;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
}
a{
	text-decoration: none;
	display: inline-block;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		margin: 0;
		padding: 0;
	}
}
.header-top{
    background-color: #f7f7f7;
	min-height: 71px;
}
.header-top_content{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.logo{
    height: 71px;
}	
.header-right{
    background-color: #eeeeee;
    display: flex;
}
.cart{
	margin-right: 25px;
	span{
		display: inline-block;
		font-size: 11px;
		color: #000;
		width: 18px;
		height: 18px;
		text-align: center;
		line-height: 18px;
	}
}
.login-btn{
	color: #555555;
	font-size: 12px;
	min-width: 72px;
	border-radius: 3px;
  	text-align: center;
  	padding: 5px 15px;
	margin-right: 7px;
}
.register-btn{
	color: #555555;
  	font-size: 12px;
	min-width: 72px;
	border-radius: 3px;
  	text-align: center;
	padding: 5px 15px;
}
.header-bottom{
	background-color: #000000;
	padding: 18px 0;
}
.menu{
	li{
		display: inline-block;
		& + li{
			padding-left: 35px;
		}
	}
	a{
		color: #fff;
		font-size: 14px;
		line-height: 30px;
        font-weight: 500;
        text-transform: uppercase;
	}
}
.main {
	background-image: url(../img/bannerBG.png);
}




@import "media";
